/* variables */
:root{
    --montserrat:'Montserrat', sans-serif;
    --lora:'Lora', serif;
    --roboto:'Roboto', sans-serif;
    --ubuntu:'Ubuntu', sans-serif;

    --btn-color:#3CC3AC;
    --font-color:#4E4D4D;
    --svg-color:#64A3D9;
    --primary-color:#fff;
    --secondary-color:#000;
    --shadow-color:#e1e1e3;
}

/* reset */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body{
    background-color: var(--primary-color);
}

img{
    width: 100%;
}

/* utilities */
.active{
    font-weight: 500;
}

.wrapper{
    display: flex;
    position: relative;
}

.btn{
    padding: 15px 60px;
    background-color: var(--btn-color);

    color: #fff;
    font-family:var(--roboto);
    font-size: 20px;
    border: none;
    border-radius: 12px;

    cursor: pointer;
}
.btn:hover{
    background-color: #14b49a;
    transition: 0.5s ease;
}

.footer{
    text-align: center;
    margin: 0 auto;
    
    font-family: var(--roboto);
    font-size: 15px;
    line-height: 20px;
    color: var(--font-color);
}

input::placeholder, textarea::placeholder{
    font-size: 16px;
    font-family: var(--roboto);
    line-height: 25px;
}

/* sidebar */
.wrapper .sidebar{
    width: 18%;
    height: 100%;
    padding: 30px 0px;
    position: fixed;
    border-right: 1px solid #4E4D4D;
}

.wrapper .sidebar img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-bottom: 10px;
}

.wrapper .sidebar ul li{
    padding: 20px;
}

.wrapper .sidebar ul li a{
    color: var(--font-color);
    display: block;

    font-family: var(--montserrat);
    font-size: 20px;
    line-height: 24px;
}

.wrapper .sidebar ul li:hover{
    font-weight: 500;
    transform: translateX(5px);
    transition: 0.5s ease;
}

/* dark mode */
#theme-options-wrapper{
	display: flex;
	padding: 20px;
}

.theme-dot{
	height: 30px;
	width: 30px;
	background-color: black;
	border-radius: 50%;

	margin: 5px;
	border:2px solid var(--themeDotBorder);

	-webkit-box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
	-moz-box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
	box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);

	cursor: pointer;
}


.theme-dot:hover{
	border-width: 5px;
}


#light-mode{
	background-color: #fff;
}

#dark-mode{
	background-color: #202020;
}

.wrapper .sidebar .social-links{
    position: absolute;
    bottom: 0;
    left: 40%;
    transform: translateX(-50%);
    display: flex;
}

.wrapper .sidebar .social-links a{
    display: block;
    width: 50px;
    height: 50px;
    text-align: center;
    color: var(--font-color);
    padding: 0 5px;
}

.wrapper .sidebar .social-links a:hover{
    transform: translateY(-5px);
    color:var(--secondary-color);
    transition: 0.5s ease;
}

/* hamburger nav */
#menu-btn{
    display: none;
    width: 50px;
    position: fixed;
    left: 20px;
    top: 12px;
    z-index: 2;
    cursor: pointer;
}

/* side-nav */
#side-nav{
    display: none;
    color: var(--font-color);
    width: 150px;
    height: 100%;
    position: fixed;
    left: -250px;
    top: 0;
    background:var(--primary-color);
    z-index: 2;
    transition: 0.5s ease-in-out;
    font-size: 1.2rem;
}

#side-nav ul{
    padding-top: 5rem;
}

#side-nav li{
    list-style: none;
    margin: 50px 20px;
}

#side-nav a{
    text-decoration: none;
    color:var(--font-color);
    font-family: var(--montserrat);
}

#side-nav a:hover{
    font-weight: 500;
    transition:0.5s ease;
}

#side-nav .side-nav_logo{
    display: block;
    padding-top: 30%;
    margin: 0 auto;
    width: 70%;
}

/* homepage */
.hero{
    background-image: url("../img/home_bg.png");
    background-repeat: no-repeat;
    background-size: cover;

    margin: 2% auto 0 25%;
    width: 1016px;
    height: 648px;

    text-align: center;
}
.hero h1{
    font-family: var(--ubuntu);
    font-weight: bold;
    font-size: 100px;
    line-height: 120px;
    color: #fff;
}

.hero img{
    display: block;
    width: 25%;
    padding-top: 10%;
    margin: auto;
}

.hero .header{
    padding-top: 10%;
}

.intro{
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding-top: 22%;
    margin-left: auto;
    margin-right: auto;

}

.intro p{
    text-align: left;
    font-family: var(--roboto);
    font-size: 20px;
    line-height: 32px;
    color: var(--font-color);

    max-width: 80%;
}

.intro .btn{
    margin-top: 8%;
}

/* showcase */
.showcase{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5%;
    margin: 5% auto 0% auto;
    padding: 5%;
    max-width: 60%;

    border: 1px solid #2b2b2b;
    border-radius: 10px;
}
  
.showcase-1 i, .showcase-1 h3, .showcase-2 i, .showcase-2 h3, .showcase-3 h3{
    color: var(--btn-color);
    padding:0 0 3% 0;
}

.showcase-1 h3, .showcase-2 h3, .showcase-3 h3{
    font-size: 16px;
    font-family: var(--roboto);
    font-weight: 500;
    line-height: 20px;
}

.showcase-1 h2, .showcase-2 h2{
    font-family: var(--roboto);
    color: var(--secondary-color);
    font-size: 20px;
    line-height: 32px;
}

.showcase-1 p, .showcase-2 p, .showcase-3 p{
    font-family: var(--montserrat);
    color: var(--font-color);
    font-size: 12px;
    line-height: 20px;
}

.showcase-1 p, .showcase-2 p{padding: 3% 0;}

.showcase-3{
    margin: 2% auto;
    text-align: center;

    border: 1px solid #2b2b2b;
    border-radius: 10px;

    max-width: 60%;
    padding: 3% 0;
}

.about{
    text-align: center;
    margin: 3% auto 0 20%;

    color:var(--font-color);
}

.about h1, .work h1{
    font-family: var(--lora);
    font-style: italic;
    font-weight: normal;
    font-size: 60px;
    line-height: 72px;
}

.bio{
    margin: auto;
    text-align: center;
}

.bio .bio-img{
    width: 45%;
}

.bio h2{
    font-family: var(--montserrat);
    font-size: 45px;
    line-height: 100px;
    font-weight: 500;
}

.bio h4{
    font-family: var(--montserrat);
    font-weight: normal;
    font-size: 16px;
    line-height: 32px;
}

.bio p{
    font-family: var(--roboto);
    font-size: 16px;
    line-height: 32px;
    font-weight: normal;

    padding:3% 0;
    margin: 0 auto;
    max-width: 55%;
}

.industry{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-row-gap: 3%;

    margin:auto 15% 5% auto;
}

.industry p{
    font-family: var(--roboto);
    font-size: 16px;
    line-height: 32px;

    text-align: left;
}

.yif,.stcet{
    width: 5%;
    margin: auto;
}

.industry a{
    color: var(--secondary-color);
}

.industry a:hover{
    text-decoration: underline;
}

.about .btn{
    margin: 2% auto;
}

/* work page */
.work{
    text-align: center;
    margin: 3% auto 0 30%;

    color: var(--font-color);
}

.work .svg{
    margin: 10% auto;
}

.projects{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    margin: 10% auto;
    grid-gap: 3%;
}

/* cards */
.property-description h5
{
  margin:0px;
  font-family: var(--montserrat);
  font-size:1.4em;
  font-weight:700;
}

.property-description p
{
    font-family: var(--roboto);
  font-size:12px;
}

.property-card{
    height:18em;
    width:14em;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-orient:vertical;
    -webkit-box-direction:normal;
    -ms-flex-direction:column;
    flex-direction:column;
    position:relative;
    -webkit-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    -o-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    border-radius:16px;
    overflow:hidden;
    -webkit-box-shadow:  15px 15px 27px var(--shadow-color), -15px -15px 27px var(--primary-color);
    box-shadow:  15px 15px 27px var(--shadow-color), -15px -15px 27px var(--primary-color);
}

.property-image-1, .property-image-2, .property-image-3, .property-image-4
{
  height:6em;
  width:14em;
  padding:1em 2em;
  position:Absolute;
  top:0px;
  -webkit-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  background-image:url('../img/whack-a-mole.png');
  background-size:cover;
  background-repeat:no-repeat;
}

.property-description
{
  background-color: var(--primary-color);
  height:12em;
  width:14em;
  position:absolute;
  bottom:0em;
  -webkit-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  padding: 0.5em 1em;
  text-align:center;
}

.property-card:hover .property-description
{
  height:0em;
  padding:0px 1em;
}
.property-card:hover .property-image-1, .property-card:hover .property-image-2, .property-card:hover .property-image-3, .property-card:hover .property-image-4
{
  height:18em;
}

.property-card:hover .property-social-icons
{
  background-color:var(--primary-color);
}

.property-image-2
{
  background-image:url('../img/budgety.png');
}

.property-image-3
{
  background-image:url('../img/yif_homepage.png');
}

.property-image-4
{
  background-image:url('../img/kalatirth_homepage.png');
}

.work .btn{
    margin-bottom: 5%;
}

.contact{
    margin:0 auto 0 18% ;
    background-image:url('../img/contact_bg.png');
    background-repeat: no-repeat;
    background-size: cover;

    width: 1260px;
    height: 384px;

    text-align: center;
    color: var(--font-color);
}

.contact h1{
    padding: 35% 0 2% 0;
    font-family: var(--montserrat);
    font-weight: 500;
    font-size: 48px;
    line-height: 57px;
}

.contact h4{
    padding-bottom: 3%;
    font-family: var(--roboto);
    font-size: 16px;
    font-weight: normal;
    line-height: 25px;
}

.contact form{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10%;
    max-width: 40%;
    margin: auto;  
}

.contact form input, .contact form textarea{
    padding: 1em;
    width: 100%;
    border-radius: 7px;
    border: 1px solid var(--font-color);
}

.contact .footer{
    padding-top: 10%;
}